body {
  font-family: "Raleway", sans-serif;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: bold;
}

.active {
  color: #DB4B4B !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .7)
}

.footer {
  color: #bbbbbb;
  font-size: 14px;
}

.copyright {
  background-color: #222222;
  text-align: center;
}

.footer .list-group-item {
  padding: .3rem .5rem;
  background-color: black;
  color: #aaaaaa;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: rgba(187, 187, 187, .4);
}

.btt a {
  border-radius: 0px 20px 0 0;
  color: #999999;
  background: #222222;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  position: absolute;
  right: 60px;
  transition: all 0.2s linear 0s;
  width: 50px;
  z-index: 99;
  -webkit-transform: rotate(-45deg);
}

.btt a:hover {
  color: #DB4B4B;
}

.btt a svg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-left: 3px;
}

.about h1 {
  font-family: 'Montserrat';
  margin-bottom: 35px;
  font-size: 45px;
}

.about p {
  line-height: 32px;
  font-size: 20px;
  font-family: 'Raleway';
  color: #800505;
}

.primary-button {
  letter-spacing: 2px;
  color: #fff !important;
  background-color: #d74d4d;
  border-color: #d74d4d;
  padding: 8px 15px;
}

.primary-button:active {
  color: #fff;
  background-color: #f23043;
  border-color: #a52834;
}

.primary-button:focus {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
}

.primary-button:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.secondary-button {
  letter-spacing: 1px;
  color: #fff !important;
  background-color: #4A5A80;
  border-color: #4A5A80;
  padding: 8px 15px;
}

.secondary-button:active {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e
}

.secondary-button:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

.secondary-button:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

#slider img {
  width: 200px;
  margin: 270px auto;
  margin-top: 50px;
}

.slider-caption .s1 {
  color: #7a7a7a;
  font-size: 19px;
  line-height: 28px;
}

.slider-caption .s2 {
  color: #7a7a7a;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 5px;
}

.slider-caption .s3 {
  font-size: 17px;
  line-height: 24px;
  color: #DB4B4B;
  font-weight: 500;
}

.learn-clean-energy .header {
  background-color: #F4F4FF;
  border-radius: 0px 0px 100px 100px;
  position: relative;
  text-align: center;
  margin: 60px 0px;
  padding: 50px 0px;
}

.learn-clean-energy .header-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(images/BG-Home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
  border-radius: 0px 0px 100px 100px
}

.learn-clean-energy img {
  width: 251px;
}

.learn-clean-energy .header .s1 {
  color: #292926;
  font-size: 40px;
  line-height: 46px;
  margin: 25px 0px;
  font-weight: 500;
}

.learn-clean-energy .header .s2 {
  color: #292926;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-weight: 300;
  font-family: "Epilogue", sans-serif;
}

.learn-about-solar .header {
  background-color: #F4F4FF;
  border-radius: 0px 0px 40px 40px;
  position: relative;
  text-align: center;
  margin: 120px 50px -10px 50px;
  padding: 100px 0px 60px 15px;
}

.learn-about-solar .header-background {
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(images/BG-Home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.05;
  border-radius: 0px 0px 100px 100px
}

.learn-about-solar .header a {
  color: #635DFF;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  float: left;
  margin-left: 40px;
  position: relative;
  transition: .2s ease;
}

.learn-about-solar .header a:hover {
  color: #5C636A;
}

.elegent-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  fill: #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #635DFF;
  border-radius: 50px 0px 50px 50px;
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 15%);
  padding: 18px 35px 18px 35px;
  position: relative;
  transition: all .4s ease-out;
}

.elegent-button:hover, .elegent-button:focus, .elegent-button:active {
  color: #635DFF;
  background-color: #FFFFFF;
  transition: all .4s ease-out;
}

.learn-clean-energy .main {
  padding: 15px 50px 12px 50px;
  background-color: #635DFF;
  border-radius: 0px 30px 0px 0px;
  width: auto;
  display: inline-block;
}

.learn-clean-energy .main p {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Montserrat';
}

.learn-clean-energy .content {
  position: relative;
  height: 280px;
  transition: all .6s ease-in-out;
  text-align: left;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #635DFF;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
}

.learn-clean-energy .title {
  margin-bottom: 25px;
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.4em;
}

.learn-clean-energy .description {
  color: #3D4E60;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.learn-clean-energy .get-started {
  font-size: 18px;
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #61CE70;
  text-align: center;
  margin-top: 25px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: block;
}

.learn-clean-energy .content .info {
  margin-bottom: 30px;
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.4em;
}

.learn-clean-energy .content .learn-more {
  padding: 12px 24px;
  margin-left: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #635DFF;
  background-color: rgba(99, 93, 255, 0.16);
  border-color: rgba(255, 255, 255, 0);
  border-radius: 29px;
  text-decoration: none;
}

.learn-clean-energy .content .front {
  position: absolute;
  transition: all .6s ease-in-out;
}

.learn-clean-energy .content .back {
  position: absolute;
  opacity: 0;
  transition: all .6s ease-in-out;
}

.learn-clean-energy .content:hover {
  background-color: #F4F4FF;
  transition: all .4s ease-in-out;
}

.learn-clean-energy .content:hover .front {
  transition: all .4s ease-in-out;
  opacity: 0;
}

.learn-clean-energy .content:hover .back {
  transition: all .4s ease-in-out;
  opacity: 1;
}

.bottom {
  margin: 50px auto;
}

.bottom .container {
  background-color: #fafafa;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bottom p {
  color: #292926;
  font-family: "Times New Roman", Sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: -1px;
  word-spacing: 2px;
}

.bottom {
  margin: 50px auto;
}

.bottom p {
  color: #292926;
  font-family: "Times New Roman", Sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: -1px;
  word-spacing: 2px;
}

.solar-explained {
  border-radius: 40px;
  margin: 0px 50px;
  padding: 50px 70px 20px 70px;
  box-shadow: 0px 15px 50px 0px rgb(0 0 0 / 10%);
}

.solar-explained h1 {
  margin-bottom: 50px;
  letter-spacing: 1.5px;
  font-size: 35px;
  font-family: "Times New Roman";
}

.solar-explained p {
  line-height: 35px;
  word-spacing: 5px;
  font-size: 19px;
}

.side-nav {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #F4F4FF;
  border-left: 3px solid #635DFF;
  padding: 50px 50px 50px 0px;
  position: sticky;
  top: 75px;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
  margin-top: 100px;
}

.side-nav .list-group-item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: .75rem 1rem;
}

.side-nav a, li {
  border: none;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: transparent;
  color: #55595c;
  transition: .15s ease;
}

.side-nav .list-group-item-action:focus, .side-nav .list-group-item-action:hover {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: #55595c;
}

.side-nav .inner-list .list-group-item {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: .6rem;
  margin: 5px 0px;
  white-space: nowrap;
}

.side-nav .inner-list a {
  border: none;
  font-weight: bold;
  font-size: 12px;
  background-color: transparent;
  color: #55595c;
  transition: .15s ease;
}

.side-nav .inner-list .list-group-item-action:focus, .side-nav .inner-list .list-group-item-action:hover {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: #55595c;
}

.side-nav-active {
  background-color: #55595C !important;
  color: white !important;
}

.exception {
  transition: .15s ease;
  background-color: transparent;
  color: #55595C !important;
  border-color: transparent;
}

.exception:hover a {
  color: white !important;
}

.inner-list-active {
  background-color: #55595C !important;
  color: white !important;
}

.side-nav .inner-list {
  padding-left: 15px;
  padding-right: 10px;
  display: none;
  transition: .15s ease;
}

.how {
  padding: 70px 0px;
  background-color: #1b252f;
}

.how .secondary-button {
  margin-top: 70px;
}

.how h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1em;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  stroke: #000;
  margin-bottom: 60px;
}

.how svg {
  transition: all .5s ease-in-out;
  height: 75px;
  margin-bottom: 35px;
  width: 75px;
  padding: 10px;
  border: 1px solid white;
}

.how svg:hover {
  margin-bottom: 25px;
  transition: all .5s ease-in-out;
  height: 85px;
  width: 85px;
}

.how path {
  fill: #ffffff;
}

.how h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
}

.how p {
  margin: 0;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  line-height: 1.8em;
}

.slope {
  transform: rotate(180deg);
}

.slope svg {
  overflow: hidden;
  height: 84px;
  transform: translateX(-50%) rotateY(180deg);
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50.1%;
}

.info-form {
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 10%);
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px 0px;
  margin: 50px 80px;
}

.info-form h3 {
  margin-bottom: 30px;
}

.top-section {
  background-attachment: fixed;
  background-image: url(images/top-section-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  z-index: 1;
  text-align: center;
}

.top-section .secondary-button {
  margin-top: 60px;
}

.top-section p {
  color: #ffffff;
  font-size: 17px;
  text-transform: none;
  white-space: normal;
  letter-spacing: 1px;
  line-height: 1.7em;
}

.top-section h1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-bottom: 30px;
}

.featured-on {
  margin: 30px 0px;
}

.featured-on img {
  max-height: 100px;
}

.faq {
  margin: 50px auto;
  text-align: center;
}

.faq a {
  text-align: left;
  padding: 12px 30px;
  font-size: 16px;
  color: black;
}

.faq .list-group-item {
  border-width: 0 0 1.5px;
}

.faq .list-group-item-action:active {
  border-color: #DB4B4B;
  color: black;
  background-color: transparent;
}

.faq .list-group-item-action:focus, .faq .list-group-item-action:hover {
  border-color: #DB4B4B;
  z-index: 1;
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.faq .card {
  border: 0;
  padding: 15px 10px 5px 35px;
  text-align: left;
  font-size: 14px;
  line-height: 23px;
  color: #565656;
}

.calculate {
  margin: 50px auto;
  text-align: center;
}

.calculate a {
  font-size: 15px;
  color: black;
}

.calculate .list-group-item {
  border-width: 0 0 1.5px !important;
  margin: 0 4px;
  padding: .5rem .5rem;
}

.calculate .list-group-item-action:active {
  border-color: #DB4B4B;
  color: black;
  background-color: transparent;
}

.calculate .list-group-item-action:focus, .calculate .list-group-item-action:hover {
  border-color: #DB4B4B;
  z-index: 1;
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.calculate .card {
  border: 0;
  padding: 15px 10px 20px 35px;
  text-align: left;
  font-size: 14px;
  line-height: 23px;
  color: #565656;
}

.marketplace-form {
  border: 4px solid #4A5A80;
  border-radius: 15px;
  padding: 40px 30px;
}

.form-control, .form-select {
  border: 2px solid #a9a9a9
}

.form-label {
  font-weight: bold;
}

.form-check-input {
  height: 1.5em;
  width: 1.5em;
  margin-top: 0 !important;
  border: 2px solid #a9a9a9
}

.form-check-input:checked {
  background-color: #4A5A80;
  border-color: #4A5A80;
}

.form-check-input:focus {
  border-color: #6177ab;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(74, 90, 128 / 50%);
}

.form-check-label {
  font-weight: bold;
  font-size: 14px;
}

.iti {
  display: block !important;
}

.arrow-icon {
  display: inline-block;
  height: 20px;
  float: right;
  padding-top: 3px;
  opacity: .7;
}

.solar-panel-system h1 {
  font-size: 30px;
  margin-bottom: 50px;
}

.solar-panel-system p {
  color: #727272;
  letter-spacing: 1px;
  line-height: 30px;
  word-spacing: 1.5px;
  font-size: 16px;
}

.solar-panel-system ul {
  margin: 1.5em auto;
}

.solar-panel-system li {
  font-size: 16px;
  margin-left: 2rem;
  color: #727272;
  letter-spacing: 1px;
  line-height: 30px;
  word-spacing: 1.5px;
  font-weight: normal;
}

.solar-component-list {
  list-style: none;
  padding: 0;
}

.solar-component-list li {
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 60px;
}

.solar-component-list svg {
  height: 110px;
  width: 110px;
  margin-right: 30px;
  fill: #635DFF;
}

.solar-save-money li {
  font-weight: normal;
  font-size: 16px;
}

.marketplace-top {
  background-color: #0020b2;
  background-image: url(images/marketplace.jpg);
  background-position: center center;
  background-size: cover
}

.marketplace-bottom {
  padding: 14% 14% 14% 14%;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 5%);
  border-radius: 15px 15px 15px 70px;
  margin-bottom: 15px;
}

.marketplace-bottom h5 {
  font-size: 22px;
  font-weight: bold;
  color: #64697A;
  margin-bottom: 18px;
}

.marketplace-bottom p {
  color: #64697A;
  font-size: 15px;
  word-spacing: 2px;
}

.marketplace-bottom a {
  margin: 10px 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  color: #4632da;
  text-decoration: none;
  font-weight: bold;
}

.top-text {
  padding: 70px 15%;
}

.faq .list-group {
  padding: 15px 30px 30px 30px;
}

.faq p {
  font-size: 18px;
  color: #7a7a7a;
  line-height: 30px;
  margin: 35px 10%;
}

.explore-neighbor {
  text-align: center;
  margin: 60px 0px;
}

.explore-neighbor h1 {
  font-size: 24px;
  color: #DB4B4B;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.explore-neighbor p {
  font-size: 18px;
  color: #7a7a7a;
  line-height: 30px;
  margin: 35px 10%;
}

.footer-desc {
  background-color: black;
  padding: 70px 40px;
}

.faq .secondary-button {
  margin-top: 20px;
}

.get-solar-quote {
  background-color: #dfdfdf;
  text-align: center;
  padding: 50px 0px;
  margin-bottom: 0px;
}

.calculate p {
  font-size: 24px;
  color: #DB4B4B;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.calculate ul {
  padding: 15px 30px 60px 30px;
}

.faq h1 {
  font-size: 24px;
  color: #DB4B4B;
  font-weight: bold;
  text-align: center;
  margin-bottom: 45px;
}

.faq ul {
  box-shadow: 0px 5px 30px 0px rgb(0 0 0 / 10%);
}

.marketplace-top .how h3 {
  line-height: 50px;
  margin-bottom: 40px;
  font-weight: bold;
  word-spacing: 2px;
  letter-spacing: .8px;
  font-size: 28px;
  width: 75%;
  display: inline-block;
}

.solar-price {
  padding: 70px 0px;
  text-align: center;
}

.solar-price h3 {
  color: #4A5A80;
  margin-bottom: 40px;
  font-weight: bold;
}

.solar-price p {
  line-height: 32px;
  word-spacing: 2px;
  width: 65%;
  display: inline-block;
  font-size: 16px;
}

.marketplace-steps {
  margin: 0px 50px;
  background-color: #FBF8F7;
  padding: 100px 40px;
}

.marketplace-steps .secondary-button {
  margin-top: 120px;
}

.resources {
  margin: 60px 20px;
  text-align: center;
  font-weight: bold;
}

.aspects {
  padding: 0px 90px 80px 90px;
}

.marketplace-steps .col-md-2 {
  background-color: #4A5A80;
  text-align: center;
  padding: 35px 0px
}

.marketplace-steps .col-md-10 {
  padding-left: 30px;
}

.marketplace-steps .row {
  margin-bottom: 35px;
}

.marketplace-steps h1 {
  font-size: 22px;
  margin-bottom: 30px;
  font-family: 'Montserrat'
}

.marketplace-steps p {
  word-spacing: 3px;
}

.explore-title {
  margin: 50px 0px;
  text-align: center;
}

.explore-title p {
  font-size: 22px;
  color: #DB4B4B;
  font-weight: bold;
  text-align: center;
  word-spacing: 2px;
  text-transform: capitalize;
}

.address {
  margin: 70px auto;
  padding: 0 20px;
}

.explore-title a {
  font-size: 15px;
}

.about .primary-button {
  margin-top: 70px;
  margin-bottom: 80px;
}

.about h2 {
  color: #DB4B4B;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Montserrat';
}

.bottom .col-md-4 {
  margin-top: 25px;
}

.solar-topics {
  padding-top: 75px;
  margin: 0px 50px;
}

.solar-panel-system h4 {
  font-weight: bold;
  margin: 30px 0;
}

.solar-panel-system h5 {
  color: #762323;
  font-family: 'Montserrat', Sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 80px;
}

.solar-panel-system h6 {
  color: black;
  font-size: 18px;
  margin-bottom: 40px;
}

.highlight {
  background-color: #6C7C69;
  padding: 30px;
  margin: 60px 0;
  color: white;
}

.highlight h2 {
  font-family: 'Montserrat', Sans-serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.highlight p {
  color: white;
  font-weight: bold;
  line-height: 25px;
  padding-bottom: 50px;
}

.solar-section-img-por {
  float: right;
  height: 250px;
}

.solar-section-img-lan {
  float: right;
}

.user-info {
  padding: 10px 0;
}

/* Media Query for Mobile Devices */
@media (max-width:480px) {
  .primary-button {
    margin-top: 0px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .secondary-button {
    margin-top: 0px;
    padding: 5px 10px;
    font-size: 14px;
  }

  .elegent-button {
    font-size: 12px;
    padding: 15px 30px 15px 30px
  }

  .highlight {
    padding: 20px 15px;
    margin: 50px 0;
  }

  .highlight h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .highlight p {
    line-height: 22px;
    padding-bottom: 40px;
  }

  .solar-section-img-por {
    height: 170px;
  }

  .solar-section-img-lan {
    height: 90px;
  }

  .solar-panel-system h4 {
    font-size: 20px;
  }

  .solar-panel-system h5 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .solar-panel-system h6 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .solar-component-list svg {
    height: 50px;
    width: 50px;
  }

  .solar-component-list .col-2 {
    padding-left: 0;
    margin-left: -5px;
  }

  .learn-clean-energy .header {
    border-radius: 0 0 50px 50px;
  }

  .learn-clean-energy img {
    width: 170px;
    margin-bottom: 20px;
  }

  .learn-clean-energy .main {
    padding: 15px 35px 12px 35px;
  }

  .learn-clean-energy .main p {
    font-size: 11px;
  }

  .learn-clean-energy .content {
    height: 220px;
  }

  .learn-clean-energy .description {
    font-size: 12px;
    padding-right: 8px;
  }

  .learn-clean-energy .title {
    font-size: 15px;
  }

  .slider-caption .s1 {
    font-size: 12px;
    line-height: 22px;
  }

  .slider-caption .s2 {
    font-size: 20px;
  }

  .slider-caption .s3 {
    font-size: 15px;
  }

  .about .primary-button {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .address {
    margin: 50px auto;
    padding: 0 15px;
  }

  .marketplace-form {
    border: 2px solid #4A5A80;
    border-radius: 15px;
    padding: 25px 0px;
  }

  .marketplace-form label {
    font-size: 10px;
  }

  .address .form-control {
    font-size: .7rem !important;
  }

  .explore-title {
    margin: 40px 0px;
    text-align: center;
  }

  .address .mapouter {
    padding: 5px;
  }

  .address .secondary-button {
    margin-top: 15px;
  }

  .explore-title p {
    font-size: 18px;
  }

  .aspects {
    margin: 10px;
    padding: 0px;
  }

  .marketplace-steps .col-md-2 {
    margin-bottom: 30px;
  }

  .marketplace-bottom {
    padding: 6%;
    margin-bottom: 30px;
    border-radius: 10px 10px 30px 10px
  }

  .marketplace-bottom p {
    font-size: 12px;
  }

  .resources {
    font-size: 22px;
    margin: 50px 15px;
    line-height: 30px;
  }

  .marketplace-top .how h3 {
    font-size: 22px;
    line-height: 35px;
    width: 100%;
    word-spacing: 1px;
  }

  .marketplace-steps .secondary-button {
    margin-top: 30px;
  }

  .marketplace-steps {
    margin: 0 15px;
    padding: 40px 25px;
  }

  .marketplace-steps h1 {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 28px;
  }

  .marketplace-steps p {
    font-size: 12px;
    line-height: 20px;
  }

  .marketplace-top .how .row h3 {
    margin-bottom: 10px;
  }

  .solar-price {
    padding: 50px 15px;
  }

  .solar-price h3 {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .solar-price p {
    line-height: 26px;
    width: 100%;
    font-size: 12px;
  }

  .marketplace-top .secondary-button {
    margin-top: 20px;
  }

  .solar-price .secondary-button {
    margin-top: 20px;
  }

  .faq h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .faq ul {
    margin: 10px;
  }

  .faq .list-group-item {
    font-size: 12px;
  }

  .faq .list-group {
    padding: 14px;
  }

  .faq a {
    padding: 10px 15px;
  }

  .faq .card {
    padding: 15px 10px 5px 25px;
    font-size: 10px;
    line-height: 20px;
  }

  .faq p {
    font-size: 12px;
    line-height: 25px;
    margin: 25px 3%;
  }

  .top-text {
    padding: 70px 5%;
  }

  .calculate {
    margin: 35px auto;
  }

  .calculate ul {
    padding: 15px 10px 30px 10px
  }

  .calculate a {
    font-size: 10px;
  }

  .arrow-icon {
    height: 15px;
  }

  .calculate .list-group-item {
    padding: .2rem .2rem;
  }

  .calculate p {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .get-solar-quote {
    padding-top: 35px;
    padding-bottom: 25px;
  }

  .top-text h1 {
    line-height: 2rem;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .top-section .secondary-button {
    margin-top: 20px;
  }

  .top-section p {
    font-size: 12px;
  }

  .how .secondary-button {
    margin-top: 20px;
  }

  .how {
    padding-bottom: 40px;
  }

  .how h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .how h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .how p {
    font-size: 12px;
  }

  .how svg {
    margin-bottom: 20px;
    padding: 5px;
    height: 65px;
  }

  .slope svg {
    height: 86px;
  }

  .user-info .secondary-button {
    padding: 5px 8px;
    font-size: 12px;
  }

  .user-info input {
    font-size: 12px;
  }

  .explore-neighbor h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .explore-neighbor p {
    font-size: 12px;
    line-height: 20px;
    margin: 10px 2%;
    word-spacing: 1px;
  }

  .learn-about-solar .header a {
    font-size: 15px;
    margin-left: 50px;
  }

  .featured-on p {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .footer-desc {
    padding: 70px 10px;
  }

  .site-map {
    padding: 10px 15px;
  }

  .explore-title a {
    font-size: 10px;
  }

  .about h1 {
    font-size: 30px;
  }

  .about p {
    line-height: 25px;
    font-size: 14px;
    padding: 0px 15px;
  }

  .learn-clean-energy .header .s1 {
    font-size: 30px;
  }

  .learn-clean-energy .header .s2 {
    font-size: 15px;
  }

  .learn-clean-energy .get-started {
    font-size: 14px;
    padding: 10px 0px;
  }

  .bottom .col-md-4 {
    margin-top: 0px
  }

  .learn-about-solar .header {
    margin: 90px 20px -10px 20px;
  }

  .solar-explained {
    margin: 0 20px;
    padding: 50px 20px 20px 20px;
  }

  .solar-explained h1 {
    margin-bottom: 30px;
    font-size: 22px;
  }

  .solar-explained p {
    line-height: 25px;
    word-spacing: 3px;
    font-size: 12px;
  }

  .solar-topics {
    padding-top: 0px;
    margin: 0px 25px;
  }

  .side-nav {
    margin: 35px 0px;
    padding: 40px 0px 10px 0px;
  }

  .benifit-solar-img {
    width: 100%;
  }

  .side-nav a, li {
    font-size: 12px;
  }

  .side-nav .list-group-item {
    padding: .5rem .75rem;
    width: 70%;
  }

  .navbar-nav .nav-link {
    font-size: 13px;
    padding: 12px 20px !important
  }

  .navbar {
    padding: 12px 5px !important;
  }

  .solar-panel-system h1 {
    font-size: 20px;
    margin: 30px 0;
  }

  .solar-panel-system p {
    letter-spacing: unset;
    line-height: 22px;
    word-spacing: 1.5px;
    font-size: 12px;
  }

  .solar-panel-system ul {
    margin: 0 auto;
    padding-left: 0;
  }

  .solar-panel-system li {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: unset;
    margin-left: 1.6rem;
  }

  .solar-component-list li {
    margin-bottom: 25px;
  }

  .user-info {
    padding: 15px 0;
  }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width:481px) and (max-width:767px) {
  .marketplace-steps .col-md-2 {
    margin-bottom: 30px;
  }

  .navbar {
    padding: 12px 5px !important;
  }

  .benifit-solar-img {
    width: 100%;
  }

  .solar-component-list svg {
    height: 70px;
    width: 70px;
  }

  .about p {
    margin-bottom: 40px;
  }

  .marketplace-steps {
    margin: 0px 20px;
    padding: 75px 35px
  }

  .marketplace-steps h1 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 28px;
  }

  .marketplace-steps p {
    font-size: 14px;
    line-height: 20px;
  }

  .side-nav {
    padding-right: 0;
  }

  .user-info {
    padding: 15px 0;
  }

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width:768px) and (max-width:1024px) {
  .navbar-nav .nav-link {
    font-size: .8rem;
    white-space: nowrap;
  }

  .user-info {
    padding: 15px 0;
  }

  .navbar {
    padding: 12px 5px !important;
  }

  .benifit-solar-img {
    width: 100%;
  }

  .side-nav {
    padding-right: 0px;
  }

  .solar-component-list svg {
    height: 70px;
    width: 70px;
  }

  .about p {
    margin-bottom: 40px;
  }

  .top-section h1 {
    line-height: 3rem;
  }

  .slope svg {
    height: 85px;
  }

}

/* Media Query for Laptops and Desktops */
@media (min-width:1025px) {
}
